.ipynb_checkpoints/*
PHYS201L/Untitled*.ipynb
PHYS201L/.ipynb_checkpoints/*
PHYS201L/JupyterNotebooks/.ipynb_checkpoints/*
PHYS201L/JupyterNotebooks/Lab1/.ipynb_checkpoints/*
PHYS201L/JupyterNotebooks/Lab2/.ipynb_checkpoints/*
PHYS201L/JupyterNotebooks/Lab3/.ipynb_checkpoints/*
PHYS201L/JupyterNotebooks/Lab4/.ipynb_checkpoints/*
PHYS201L/JupyterNotebooks/Lab5/.ipynb_checkpoints/*
PHYS201L/JupyterNotebooks/Lab6/.ipynb_checkpoints/*
PHYS201L/JupyterNotebooks/Lab7/.ipynb_checkpoints/*
PHYS202L/Untitled*.ipynb
PHYS202L/.ipynb_checkpoints/*
PHYS202L/JupyterNotebooks/.ipynb_checkpoints/*
PHYS202L/JupyterNotebooks/Lab1/.ipynb_checkpoints/*
PHYS202L/JupyterNotebooks/Lab2/.ipynb_checkpoints/*
PHYS202L/JupyterNotebooks/Lab3/.ipynb_checkpoints/*
PHYS202L/JupyterNotebooks/Lab4/.ipynb_checkpoints/*
PHYS202L/JupyterNotebooks/Lab5/.ipynb_checkpoints/*
PHYS202L/JupyterNotebooks/Lab6/.ipynb_checkpoints/*
PHYS202L/JupyterNotebooks/Lab7/.ipynb_checkpoints/*
images/.ipynb_checkpoints/*
Templates/.ipynb_checkpoints/*
Demo files/.ipynb_checkpoints/*
Untitled*.ipynb
__pycache__
